langgraph
langchain
langchain-groq
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
torch
torchvision
sentence-transformers
pillow
python-dotenv
PyMuPDF
faiss-cpu
huggingface-hub
streamlit
groq
