langgraph
langchain

langchain-groq 
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface

torch
torchvision
torchaudio

sentence-transformers
pillow
opencv-python
matplotlib
python-dotenv
PyMuPDF
faiss-cpu
huggingface-hub
streamlit
python-dotenv
